[user]
  name = akineko
  email = akineko.mail@gmail.com
[color]
  ui = auto
[core]
  editor = nvim
#  autocrlf = true  # checkout: LF -> CRLF  commit: CRLF -> LF
#  autocrlf = input # checkout: do nothing  commit: CRLF -> LF
  autocrlf = false # checkout: do nothing  commit: do nothing
[push]
  default = current
[pull]
  rebase = true
[alias]
  st = status
  ci = commit
  co = checkout
  # logをtree表示
  glog = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
  glog-all = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
[http]
  postBuffer = 524288000
[ghq]
  root = ~/dev/src

# vim: set expandtab sw=2 ts=2:
