(
    focus_right: Some(( code: Char('l'), modifiers: "")),
    focus_left: Some(( code: Char('h'), modifiers: "")),
    focus_above: Some(( code: Char('k'), modifiers: "")),
    focus_below: Some(( code: Char('j'), modifiers: "")),
    
    move_left: Some(( code: Char('h'), modifiers: "")),
    move_right: Some(( code: Char('l'), modifiers: "")),
    move_up: Some(( code: Char('k'), modifiers: "")),
    move_down: Some(( code: Char('j'), modifiers: "")),

    open_help: Some(( code: F(1), modifiers: "")),
)
